.Product {
    align-items: center;
    background-color: #FBF7F2;
    padding: 9rem;
}

.content1 p {
    display: list-item;
    list-style: square;
    color: #BD1F17;
    margin-top: 0;
    margin-left: 1.3rem;
    font-size: 1rem;
}
.content1 h4 {
    font-size: 2rem;
    margin-top: 0;
}

.Item {
    align-items: center;
}

.carousel-container { 
    padding: 0 10px; 
}
 
.carousel-item-padding-40-px { 
    padding: 0 5px; 
}

.item {
    text-align: center; 
    width: 150px;
    height: 150px;
    padding: 5px;
    background-color:#FFFFFF;
}

.item img { 
    width: auto;
    height: 50%; 
    border-radius: 10px; 
} 

.item h3 { 
    font-size: 1em; 
    margin: 10px 0; 
} 

.item p { 
    font-size: .7em; 
    color: #777; 
} 
.custom-dot-list-style li { 
    background: #ddd; 
} 
.custom-dot-list-style li.slick-active button:before { 
    color: #000; 
} 
.custom-dot-list-style li button:before { 
    font-size: 12px; 
    color: #ddd; 
} 
.custom-dot-list-style li:hover button:before { 
    color: #000;
}


.sideimg-box {
    position: absolute;
    overflow: hidden;
    width: 6rem;
    height: 20rem;
    margin-left: -8%;
    margin-top: -20rem;
}
.sideimg {
    width: 15rem;
    transform: rotate(-45deg) translateX(-60%) translateY(-20%);
}

@media (max-width: 1025px) {
    .sideimg-box {
        position: absolute;
        overflow: hidden;
        width: 6rem;
        height: 20rem;
        margin-left: -15%;
        margin-top: -18rem;
    }
    .sideimg {
        width: 12rem;
        transform: rotate(-45deg) translateX(-60%) translateY(-20%);
    }
}
@media (max-width: 426px) {
    .sideimg-box {
        display: none;
    }
    .Product {
        padding: 2rem;
    }
    .item {
        width: 15rem;
        height: 15rem;
    }
    .item h3 { 
        font-size: 1.5em; 
        margin: 0; 
    }
    .item p { 
        font-size: 1em; 
    }
}