.frame5 {
    padding: 8%;
    background-color: white;
}

.frame5 li {
    list-style: square;
    color: #BD1F17;
}

.tomato-box {
    position: absolute;
    overflow: hidden;
    width: 10rem;
    height: auto;
    margin-left: -8%;
}
.tomato {
    width: 13rem;
    transform: translateX(-50%)
}
.leef-box {
    position: absolute;
    overflow: hidden;
    width: 12rem;
    height: auto;
    right: 0;
    margin-top: 20rem;
}
.leef {
    width: 20rem;
    transform: rotate(45deg);
}

.review-block {
    display: flex;
}

.review {
    width: 50%;
    background: #FEBF00;
    padding: 4%;
}

.review h1 {
    font-family: CotorisBold;
    font-size: 30px;
    position: absolute;
    margin: -12px;
}

.review-post {
    margin-top: -2%;
}

.reviewer {
    display: flex;
    justify-content: space-between;
    margin-top: 30%;
}
.reviewer p {
    margin-bottom: 0px;
    margin-top: 0px;
}
.reviewer img {
    margin-top: 0px;
}
.reviewer-photo {
    border-bottom: 4px solid #BD1F17;
}

.person {
    border: 1px solid #FEBF00;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.design1 {
    position: absolute;
    margin-left: -3.4%;
    margin-top: -4%;
    width: 25px;
}

@media (max-width: 1441px) {
    .leef-box {
        width: 10rem;
    }
}
@media (max-width: 1025px) {
    .leef-box {
        width: 7.5rem;
    }
    .leef {
        width: 16rem;
    }
    .tomato {
        width: 8rem;
    }
}
@media (max-width: 426px) {
    .leef-box {
        display: none;
    }
    .tomato-box {
        display: none;
    }
    .review-block {
        flex-direction: column;
        flex-direction: column-reverse;
    }
    .review {
        width: 92%;
        background: #FEBF00;
        padding: 4%;
    }
}